
<!-- <!DOCTYPE html>
<html>
<head> -->
    <title>Add Notes</title>
    <!-- Here we are giving code to dashboard.html page from this page -->
    {% extends 'dashboard.html' %}
    {% block addcss %}
    <link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}"/>
    {% endblock %}
<!-- </head>
<body> -->
    
    {% block content %}

    <!-- Welcome {{session['user']}} -->
    <div class="container1">
        <h2>Add New Note</h2>
        <form method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <button type="submit">Add Note</button>
        </form>
    </div>
    {% endblock %}
<!-- </body>
</html> -->
