<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP VERIFICATION PAGE</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center>{{ message }}</center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <form method="post">
        <input type="text" name="userotp" placeholder="Enter OTP">
        <button>Submit</button>
    </form>
</body>
</html>